body {
    overflow: hidden;
}

.game-container {
    width: 100vw;
    height: 100vh;

    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(4, 110px); 
    grid-template-rows: repeat(5, 1fr); 
    gap: 10px; 
}
