@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.card-container {
    transform-style: preserve-3d;
    width: 110px; 
    height: 110px; 
    position: relative;
    
}
.card-front,
.card-back {
    background-color: rgb(0, 183, 255);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    box-shadow: 2px 2px 6px rgba(62, 62, 62, 0.403);
    backface-visibility: hidden;
    transition: transform 0.8s;
}

.card-back:hover {
    opacity: 0.9;
}

.card-front {
    background-color: #142944;
}


.flip{
    transform: rotateY(180deg);
}

p {
    color: yellow;
    font-weight: bolder;
    font-family: "Pacifico", cursive;
    font-size: 25px;
}